<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="all">all item</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="salary">salary300000to500000</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="date">Hire Date between 2023-1-1 and 2023-12-31</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="accounting">Accounting Dapartment</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="create">Insert Employee</a>
            </li>
        </ul>

    </nav>
</body>
</html>